<div class="container">
    <div class="row">
        <div class='col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container'>
            <div class="media pt-3 pl-3 pb-1">
                <a href="{% url 'users:detail' post.profile.user.username %}"><img class="mr-3 rounded-circle" height="50" src="{{post.profile.picture.url}}" alt="{{post.user.name}}"></a>
                <div class="media-body">
                    <p style="margin-top:5px;font-size:2em;">#{{post.profile.user.usernam}}</p>
            </div>
            </div>
            <a href="{% url 'posts:detail' post.pk %}">
                <img style="width:100%;"  src={{post.photo.url}} alt={{post.title}}>
            </a>
            <div class="col">
                <button class="btn {% if not request.user.profile in post.likes.all%}btn-light{% else %}btn-dark{% endif %} mt-2">
                    <a href="{% url 'posts:like' post.id %}">
                    <i class="fas fa-heart">{% if post.likes.count %}{{ post.likes.count }}{% else %}0{% endif %}</i>
                    </a>
                </button>
            </div>
            <b>{{post.title}}</b> - <small>{{post.created}}</small>
        </div>
    </div>
</div>
