{% extends "base.html" %}
{% block head_content %}
    <title>@{{user.username}}|Platzigram</title>
{% endblock %}

{% block container %}
    <div class="container mb-5" style='margin-top:8em'>
        <div class='row'>
            <div class="col-sm-4 d-flex justify-content-center">
                <img
                    src="{{ user.profile.picture.url }}"
                    alt="@{{ user.username }}"
                    class="rounded-circle"
                    width="150px"/>
            </div>
            <div class="col-sm-8">
                <h2 style="font-weight:100;">
                    {{ user.username }}
                    {% if request.user.username == user.username %}
                    <a
                        href="{% url "users:update_profile" %}"
                        class="ml-5 btn btn-sm btn-outline-info"
                    >
                    Edit profile
                    </a>
                    {% else %}
                    <a
                        href="{% url "users:user_follow" user.profile.id %}"
                        class="ml-5 btn btn-sm btn-outline-info"
                    >
                    {% if not request.user.profile in user.profile.profile_followers.all  %}
                        Follow
                    {% else %}
                        Unfollow
                    {% endif %}
                    </a>
                    {% endif %}
                </h2>
                <div class="row mt-2" style="font-size:1.2em">
                    <div class="col sm-4">
                        <b>{{ posts_count }}</b> Posts
                    </div>
                    <div class="col sm-4">
                        <b>{{ user.profile.profile_followers.count }}</b> Followers
                    </div>
                    <div class="col sm-4">
                        <b>{{ following }}</b> Following
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profile.biography }}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="user-posts" >
            <div class="row mt-3">
            {% for post in posts %}
                <div class="col-sm-4 pt-5 pb-5 pr-5 pl-5 d-flex justify-content-center align-items-center">
                    <a href="{% url 'posts:detail' post.id %}"><img src="{{post.photo.url}}" class="{{post.title}}" class="img-fluid"/>

                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <hr>

{% endblock %}
