{% extends 'users/base.html' %}

{% block head_content %}
<title>Platzigram register</title>
{% endblock %}

{% block container %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    <form action="{% url "register" %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }}


        <button class='btn btn-primary btn-block mt-5' type="submit">Signup!</button>
        <span>You have a account?<a href="{%url 'login'%}">Login</a></span>

    </form>

{% endblock %}
